<a href="https://colab.research.google.com/github/mohit2520/Assi./blob/main/Assignment_2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import the necessary libraries

import numpy as np
import pandas as pd

In [3]:
# Assign it to a variable called users and use the 'user_id' as index
# Import the dataset from this(https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

user = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",sep='|',index_col = 'user_id')
print(user)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [4]:
# See the first 10 and last 10 entries
user.head(10),user.tail(10)

(         age gender     occupation zip_code
 user_id
 1         24      M     technician    85711
 2         53      F          other    94043
 3         23      M         writer    32067
 4         24      M     technician    43537
 5         33      F          other    15213
 6         42      M      executive    98101
 7         57      M  administrator    91344
 8         36      M  administrator    05201
 9         29      M        student    01002
 10        53      M         lawyer    90703,
          age gender     occupation zip_code
 user_id
 934       61      M       engineer    22902
 935       42      M         doctor    66221
 936       24      M          other    32789
 937       48      M       educator    98072
 938       38      F     technician    55038
 939       26      F        student    33319
 940       32      M  administrator    02215
 941       20      M        student    97229
 942       48      F      librarian    78209
 943       22      M        student    77841)

In [5]:
# What is the number of observations in the dataset?
print("Number of Observations :",user.count()[0])

Number of Observations : 943

In [6]:
# What is the number of columns in the dataset?

print("Number of Columns :",len(user.columns))

Number of Columns : 4

In [7]:
# Print the name of all the columns.

print(user.keys())

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [8]:
# How is the dataset indexed?

df=pd.DataFrame(user)
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [9]:
# What is the data type of each column?
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

In [10]:
# Print only the occupation column

df['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [11]:
# How many different occupations are in this dataset?

df['occupation'].nunique()

21

In [20]:
# What is the most frequent occupation?
df['occupation'].mode()

0    student
dtype: object

In [12]:
# DataFrame Info.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

In [13]:
# Describe all the columns

df.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [15]:
# Summarize only the occupation column

df["occupation"].value_counts().sort_values(ascending=False)

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [16]:
# What is the mean age of users?

df.age.mean()

34.05196182396607

In [27]:
# What is the age with least occurrence?
df.age.min()

7